* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    height: 40px !important;
    width: 100%;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.container {
    padding: 20px 0;
}

#templates {
    display: none;
}

.remove-player {
    margin-bottom: 10px;
}

.game {
    display: none;
}

.turn-indicator {
    font-size: 36px;
}

div.player-row-container {
    height: 60px;
    background: #fff;
    box-shadow: 0px 6px 13px -6px #888;
    margin-bottom: 20px;
}